html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}


body {
  background: linear-gradient(135deg, $background-start 0%, $background-end 100%);
  color: $text-color !important;
}

header {
  border-top: none !important;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color !important;
}

a {
  color: $link-color !important;
}

a:hover {
  color: $link-hover-color !important;
}

code, pre {
  color: $text-color;
  background-color: $code-background;
}

hr {
  border-color: $hr-color;
}

