// _components.scss

// RSS Link styling
.rss-subscribe {
  display: inline-flex; /* Removes the preceding underline on hover */
}

.rss-subscribe svg {
  position: relative;
  bottom: -2px; /* Slightly lower the icon to align with the text baseline */
  width: 1em;
  stroke: 3px;
}

.rss-subscribe:hover svg {
  color: $link-hover-color;  // Hover color for SVG in RSS link
}

// Nav menu styling
.site-nav {
  background: linear-gradient(135deg, $background-color-start 0%, $background-color-end 100%);  /* Background for the nav menu */
}

@media (min-width: 600px) {
  .site-nav {
    background: none; /* Removes the background on the labels once they return to the nav bar */
  }
} 

.menu-icon svg {
  fill: $primary-text-color !important;
}

.page-link {
  text-align: start;
  margin-left: -4px !important;
}
