/*

Nav

*/
.site-nav {
  background: linear-gradient(135deg, $background-start 0%, $background-end 100%);
}

@media (min-width: 600px) {
  .site-nav {
    background: none;
  }
} 

.menu-icon svg {
  fill: $text-color !important;
}

.page-link {
  text-align: start;
  margin-left: -4px !important;
}


/*

RSS Link

*/
.rss-subscribe {
  display: inline-flex;
  
}

.rss-subscribe svg {
  text-decoration: none; /* Ensure no underline on the icon */
  width: 1.25em;
  align-self: stretch;
}

.rss-subscribe::before {
  content: "Feed";
  margin-right: 0.25em;
}

.rss-subscribe:hover svg {
  color: $link-hover-color; /* Change color on hover */
}